<!DOCTYPE html>
<html data-ng-app="YouHuApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>YouHu</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="content/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/loading-bar.min.css" rel="stylesheet"/>
    <link href="content/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <a class="navbar-brand" href="#/">YouHu</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">您 好！ {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth || authentication.role!='Owner'"><a href="#/owner/orders">货 单</a></li>
                    <li data-ng-hide="!authentication.isAuth || authentication.role=='Owner'"><a href="#/driver/orders">货 单</a></li>
                    <li data-ng-hide="!authentication.isAuth || authentication.role=='Owner'"><a href="#/driver/freightUnits">货 车</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">登 出</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">登 录</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup">注 册</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="hidden">
    <div class="container">
        <div class="page-header jumbotron text-center">
            <h1><!--Something--></h1>
        </div>
        <p><!--something--></p>
    </div>
</div>
<div class="row">
    &nbsp;
</div>
    <hr class="container seperator"/>
    <section class="container" id="body">
        <div data-ng-view=""></div>
    </section>
    <hr />
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted text-center">
                    营运： <a target="_blank" href="http://www.yohu56.com">YoHu我是小陆</a>&nbsp;
                    网站： <a target="_blank" href="http://www.yohu56.com">yohu56.com</a>&nbsp;
                    <a target="_blank" href="http://www.yohu56.com">津ICP备15006053号</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- 3rd party libraries -->
   
    <script type="text/javascript" src="scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="scripts/angular-animate.min.js"></script>
    <script type="text/javascript" src="scripts/common.js"></script>
    <script type="text/javascript" src="scripts/angular-local-storage.js"></script>
    <script type="text/javascript" src="scripts/toaster.js"></script>
    <script type="text/javascript" src="scripts/ui-bootstrap-0.13.0.min.js"></script>
    <script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="scripts/loading-bar.min.js"></script>
    <!--baidu javascript api-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GMqDruxjOz2PkfMlNKmDlscc"></script>
<!--Helper-->
    <script src="app/helper/helper.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>

    <!-- Load directives -->
    <script src="app/directives/baiduAPIDir.js"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/ownerService.js"></script>
    <script src="app/services/driverService.js"></script>

    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/ownerController.js"></script>
    <script src="app/controllers/driverController.js"></script>
</body>
</html>