<form class="form form-horizontal">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>评 价</h4>
    </div>
    <div class="modal-body">
            <h4 class="text-center well">这单还顺利吗？车主合作愉快吗？</h4>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-comment"></i></span>
            <input type="text" class="form-control" data-ng-model="evaluateModel.Comments" placeholder="说点什么" required />
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-star"></i></span>
            <input type="number" class="form-control" data-ng-model="evaluateModel.Rank" placeholder="0 ~ 10" required />
            <span class="input-group-addon">分</span>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row col-md-2 pull-right">
            <button class="btn btn-primary btn-block" data-ng-click="evaluate()" type="button">好 了</button>
        </div>
    </div>
</form>