<div class="modal-header">
    <a href="" class="close" data-ng-click="close()">&times;</a>
    <h4 class="modal-title">Find Matched Freights</h4>
</div>
<div class="modal-body">
        <form class="form">
            <div class="row" data-ng-show="freightUnitsCount == 0">
                <h4 class="text-center">Not found any matched freight units. Please refresh later.</h4>
            </div>
            <div class="row">
                <div class="col-md-offset-10 col-md-2">
                    <p>
                        <button type="button" class="btn btn-block" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
                    </p>
                </div>
            </div>
            <div class="row" data-ng-show="freightUnitsCount > 0">
                <table class="table table-hover">
                    <tr data-ng-repeat="fu in freightUnits">
                        <td class="col-md-3">
                            <h4>{{fu.Cost|currency:"&yen;"}}</h4>
                        </td>
                        <td class="col-md-4">
                            <h4><span class="label label-primary"><span class="glyphicon glyphicon-user"></span>&nbsp;{{fu.Driver}}&nbsp;(Rank{{fu.Rank}})</span></h4>
                        </td>
                        <td class="col-md-3">
                            <h4><span class="label label-primary"><span class="glyphicon glyphicon-home"></span>&nbsp;{{fu.Location}}</span></h4>
                        </td>
                        <td class="col-md-2">
                            <button class="btn btn-block" type="submit" data-ng-click="showMakeDeal(fu)">GET IT</button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
</div>


