<form class="form form-horizontal">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>Make Deal</h4>
    </div>
    <div class="modal-body">
        <p class="text-center well">
            <h3>Are you sure to make deal with this freight?</h3>
        </p>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-5">
                <button class="btn btn-block" type="submit" data-ng-click="makeDeal()">DEAL</button>
            </div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-5">
                <button class="btn btn-block" type="button" data-ng-click="close()">CANCEL</button>
            </div>
        </div>
    </div>
</form>