<form class="form form-horizontal">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>确 认 运 费</h4>
    </div>
    <div class="modal-body">
            <h3 class="text-center well">运费 {{freightCost|currency:"&yen;"}} 可以吗？</h3>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-5">
                <button class="btn btn-primary btn-block" type="submit" data-ng-click="makeDeal()">可 以</button>
            </div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-5">
                <button class="btn btn-block" type="button" data-ng-click="close()">算 了</button>
            </div>
        </div>
    </div>
</form>