<div class="row">
    <form class="form-horizontal">
        <toaster-contianer toaster-options="{'time-out':1700}"></toaster-contianer>
        <div class="well well-sm" data-ng-show="orderCount == 0">
            <h5 class="text-center">You haven't been published any orders, it's time to publish a new one.</h5>
            <div class="row">
                <div class="col-md-offset-5 col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-lg btn-block" data-ng-click="showPublish()">PUBLISH</button>
                </div>
            </div>
        </div>
        <div data-ng-show="orderCount > 0">
            <div class="row">
                <div class="col-md-offset-5 col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-lg btn-block" data-ng-click="showPublish()">PUBLISH</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 pull-right">
                    <p>
                        <button type="button" class="btn btn-block" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
                    </p>
                </div>
            </div>
            <ul class="list-group" data-ng-repeat="order in orders">
                <li class="list-group-item panel" data-ng-class="'panel-'+getCSS(order)">
                    <div class="panel-heading">
                        <div class="row container">
                            <div class="col-lg-3">
                                <h4 class="text-left">
                                    <span class="label" data-ng-class="'label-'+getCSS(order)">
                                        {{order.Source}}
                                    </span>
                                </h4>
                            </div>
                            <div class="col-lg-1">
                                <h4 class="text-center">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </h4>
                            </div>
                            <div class="col-lg-3">
                                <h4 class="text-right">
                                    <span class="label" data-ng-class="'label-'+getCSS(order)">
                                        {{order.Destination}}
                                    </span>
                                </h4>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-right">
                                    <span class="badge">{{ order.PublishedDate | date: 'yyyy-MM-dd hh:mm:ss'}}</span>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="text-right">
                                    <span class="badge">{{getState(order).toUpperCase()}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <h4 class="text-left">
                                    <p>
                                        <span class="glyphicon glyphicon-user"></span> {{order.Driver? order.Driver:'FINDING...'}}
                                    </p>
                                </h4>
                            </div>
                            <div class="col-lg-4">
                                <p class="text-warning">
                                    <small>{{order.Description}}</small>
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <h4 class="text-right">
                                    {{order.FreightCost!=0?(order.FreightCost | currency:'&yen;'):'N/A'}}
                                </h4>
                            </div>
                            <div class="col-lg-3 text-right">
                                <button class="btn" data-ng-class="'btn-'+getCSS(order)" data-ng-show="getState(order)=='dealt'" data-ng-click="showPay(order)">PAY</button>
                                <button class="btn" data-ng-class="'btn-'+getCSS(order)" data-ng-show="getState(order)=='arrived'" data-ng-click="showConsign(order)">COSIGN</button>
                                <button class="btn" data-ng-class="'btn-'+getCSS(order)" data-ng-show="getState(order)=='ready'|| getState(order)=='rejected'" data-ng-click="showFindFreight(order)">FIND</button>
                                <button class="btn" data-ng-class="'btn-'+getCSS(order)" data-ng-show="getState(order)=='consigned'" data-ng-click="showEvaluate(order)">EVALUATE</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
