<div class="row">
    <form class="form-horizontal">
        <toaster-contianer toaster-options="{'time-out':1700}"></toaster-contianer>
        <div class="well well-sm" data-ng-show="orderCount == 0">
            <h2 class="text-center">您还没有发布过货单，现在就GO！</h2>
            <div class="row">
                <div class="col-md-offset-5 col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-danger btn-block" data-ng-click="showPublish()">发&nbsp;布</button>
                </div>
            </div>
        </div>
        <div data-ng-show="orderCount > 0">
            <div class="row">
                <div class="col-md-offset-5 col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-danger btn-block" data-ng-click="showPublish()">发&nbsp;布</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-10 col-lg-1">
                    <p>
                        <button type="button" class="btn btn-primary btn-block" data-ng-click="refresh()"><i class="fa fa-refresh"></i></button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="order in orders" data-ng-class="'list-group-item-'+getCSS(order)">
                            <div class="list-group-item-heading">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h4 class="text-left">
                                            <span class="label" data-ng-class="'label-'+getCSS(order)">
                                                <i class="fa fa-home fa-lg"></i>&nbsp;{{order.Source}}
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="col-lg-1">
                                        <h4 class="text-center">
                                            <i class="fa fa-arrow-right fa-lg"></i>
                                        </h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <h4 class="text-right">
                                            <span class="label" data-ng-class="'label-'+getCSS(order)">
                                                <i class="fa fa-flag fg-lg"></i>&nbsp;{{order.Destination}}
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="text-right">
                                            <span class="badge">{{ order.PublishedDate | date: 'yyyy-MM-dd hh:mm:ss'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="text-right">
                                            <span class="badge">{{getState(order).toUpperCase()}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <h5 class="text-left">
                                            <i class="fa fa-truck"></i> {{order.Driver? order.Driver:'等待寻车...'}}
                                        </h5>
                                    </div>
                                    <div class="col-lg-4">
                                        <small class="text-warning">{{order.Description}}</small>
                                    </div>
                                    <div class="col-lg-3">
                                        <h5 class="text-right">
                                            {{order.FreightCost!=0?(order.FreightCost | currency:'&yen;'):'N/A'}}
                                        </h5>
                                    </div>
                                    <div class="col-lg-3 text-right">
                                        <button class="btn" data-ng-class="'btn-'+getCSS(order)" data-ng-show="getStateStr(order)=='dealt'" data-ng-click="showPay(order)">付&nbsp;款</button>
                                        <button class="btn" data-ng-class="'btn-'+getCSS(order)" data-ng-show="getStateStr(order)=='arrived'" data-ng-click="showConsign(order)">收&nbsp;货</button>
                                        <button class="btn" data-ng-class="'btn-'+getCSS(order)" data-ng-show="getStateStr(order)=='ready'|| getStateStr(order)=='rejected'" data-ng-click="showFindFreight(order)">寻&nbsp;车</button>
                                        <button class="btn" data-ng-class="'btn-'+getCSS(order)" data-ng-show="getStateStr(order)=='consigned'" data-ng-click="showEvaluate(order)">评&nbsp;价</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
