<form class="form form-horizontal" role="form">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>发 布 货 单</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Description" placeholder="发点什么呢？" required />
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-home"></i></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Source" placeholder="从哪座城市出发" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-flag"></i></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Destination" placeholder="送到哪座城市" required />
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fullscreen" id="fsize"></i></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Size" placeholder="体积" required aria-describedby="fsize" />
                    <span class="input-group-addon">(立方米)</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-scale"></i></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Weight" placeholder="重量" required/>
                    <span class="input-group-addon">(吨)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-4 col-md-4 pull-right">
                <button class="btn btn-danger btn-block" type="submit" data-ng-click="publish()">发布</button>
            </div>
        </div>
    </div>
</form>


