<form class="form form-horizontal" role="form">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>ORDER PUBLISH</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Description" placeholder="What's you would like deliver..." required />
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Source" placeholder="From" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-flag"></span></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Destination" placeholder="To" required />
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-fullscreen" id="fsize"></span></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Size" placeholder="Size" required aria-describedby="fsize" />
                    <span class="input-group-addon">(m)</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-scale" id="fweight"></span></span>
                    <input type="text" class="form-control" data-ng-model="publishModel.Weight" placeholder="Weight" required aria-describedby="fweight" />
                    <span class="input-group-addon">(t)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-4 col-md-4 pull-right">
                <button class="btn btn-block" type="submit" data-ng-click="publish()">PUBLISH</button>
            </div>
        </div>
    </div>
</form>


