<form class="form form-horizontal">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>确 认 收 货</h4>
    </div>
    <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
            <input type="text" class="form-control" data-ng-model="consignModel.ConsignCode" placeholder="收 货 码" required />
        </div>
    </div>
    <div class="modal-footer">
        <div class="row col-md-3 pull-right">
            <button class="btn btn-primary btn-block" data-ng-click="consign()" type="button">确 认</button>
        </div>
    </div>
</form>   
