<form class="form form-horizontal">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>发 布</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" id="location" class="form-control" placeholder="您的车在哪座城市？" required />
                        <yhlocation target="location"></yhlocation>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-4 col-md-4 pull-right">
                <button class="btn btn-danger btn-block btn-lg" type="submit" data-ng-click="publish()">发 布</button>
            </div>
        </div>
    </div>
</form>

