<form class="form form-horizontal">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>加 入 车 辆</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                            <select class="form-control" data-ng-model="model.Type" required>
                                <option value="0">牵引车</option>
                                <option value="1">面包车</option>
                                <option value="2">罐车</option>
                                <option value="3">卡车</option>
                                <option value="4">皮卡车</option>
                            </select>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-font"></i></span>
                            <input type="text" class="form-control" data-ng-model="model.Licence" placeholder="车牌" required />
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-scale"></i></span>
                            <input type="number" class="form-control" data-ng-model="model.Weight" placeholder="车重" required />
                            <span class="input-group-addon">(吨)</span>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-resize-vertical"></i></span>
                            <input type="number" class="form-control" data-ng-model="model.Height" placeholder="车高" required />
                            <span class="input-group-addon">(米)</span>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-resize-horizontal"></i></span>
                            <input type="number" class="form-control" data-ng-model="model.Length" placeholder="车长" required />
                            <span class="input-group-addon">(米)</span>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-home"></i></span>
                            <input type="text" id="location" class="form-control" placeholder="您的车在哪座城市？" required />
                            <yhlocation target="location"></yhlocation>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-4 col-md-4 pull-right">
                <button class="btn btn-danger btn-block" type="submit" data-ng-click="register()">发 布</button>
            </div>
        </div>
    </div>
</form>


