<form class="form form-horizontal">
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4>到 哪 了？</h4>
    </div>
    <div class="modal-body">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <input type="text" class="form-control" placeholder="车到哪座城市了？" data-ng-model="updateStateModel.Location" />
            </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-5">
                <button class="btn btn-primary btn-block" type="submit" data-ng-click="updateState()">好 了</button>
            </div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-5">
                <button class="btn btn-block" type="button" data-ng-click="close()">算 了</button>
            </div>
        </div>
    </div>
</form>
