<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>登 录</h2>
            <blockquote>
                <p class="text-primary">物流行业，自古有之，“所谓兵马未动，粮草先行”应是刻画的栩栩如生。古人的漕运，马帮，茶马古道，丝绸之路，无不突显物流的重要性。</p>
            <small><cite title="Source Title">《创业计划书》</cite></small>
            </blockquote>
                <a class="btn btn-info" href="#/login" role="button">欢迎回来 &raquo;</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>注 册</h2>
            <blockquote>
                <p class="text-primary">时势造英雄，怀揣着“穷则独善其身，富则兼达天下”的初心，本着降低企业生存成本，改变现有中国货运司机生存现状的发心。</p>
                <small><cite title="Source Title">《创业计划书》</cite></small>
            </blockquote>
                <a class="btn btn-info" href="#/signup" role="button">加入我们 &raquo;</a>
        </div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>